main.button-container {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #80BD9E;
}

div.button {
  width: 250px;
  height: 250px;
  background-color: #89DA59;
  float: left;
  margin: 15px 15px;
  padding: 10px 0px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: grey;
}
